{
  "x-generator": "NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "mPohoda API",
    "description": "API aplikace mPohoda.",
    "version": "v1.0",
    "x-logo": {
      "url": "https://app.mpohoda.cz/images/common/Menu/mph-logo.svg",
      "backgroundColor": "#1A237E",
      "altText": "mPohoda"
    }
  },
  "servers": [
    {
      "url": "https://api.mpohoda.cz"
    }
  ],
  "paths": {
    "/v1/Activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activities paginated.",
        "description": "Gets all <b>Activities</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsListsActivitiesActivitiesGroup+ActivityListGetEndpoint",
        "parameters": [
          {
            "name": "After",
            "in": "query",
            "description": "Key set pagination after specified id.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfActivityDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetEntityListQuery<ActivityDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.ActivitiesClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Activities/{id}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets Activity by id.",
        "description": "Retrieves <b>Activity</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsListsActivitiesActivitiesGroup+ActivityGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.ActivitiesClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/BankAccounts": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Bank accounts paginated.",
        "description": "Gets all <b>Bank accounts</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsListsBankAccountsBankAccountsGroup+BankAccountListGetEndpoint",
        "parameters": [
          {
            "name": "After",
            "in": "query",
            "description": "Key set pagination after specified id.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfBankAccountDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetEntityListQuery<BankAccountDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.BankAccountsClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/BankAccounts/{id}": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Gets Bank account by id.",
        "description": "Retrieves <b>Bank account</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsListsBankAccountsBankAccountsGroup+BankAccountGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.BankAccountsClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Banks": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Banks paginated.",
        "description": "Gets all <b>Banks</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsBanksBanksGroup+BankListGetEndpoint",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfBankDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetGeneralListItemListQuery<BankDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.BanksClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Banks/{id}": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Gets Bank by id.",
        "description": "Retrieves <b>Bank</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsBanksBanksGroup+BankGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.BanksClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/BusinessPartners": {
      "get": {
        "tags": [
          "BusinessPartners"
        ],
        "summary": "Business partners paginated.",
        "description": "Gets all <b>Business partners</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsBusinessPartnersBusinessPartnersGroup+CzechBusinessPartnerListGetEndpoint",
        "parameters": [
          {
            "name": "After",
            "in": "query",
            "description": "Key set pagination after specified id.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfBusinessPartnerDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetEntityListQuery<BusinessPartnerDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.BusinessPartnersClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      },
      "post": {
        "tags": [
          "BusinessPartners"
        ],
        "summary": "Creates Business partner.",
        "description": "Creates <b>Business partner</b> by passed payload.",
        "operationId": "MphOpenApiApiEndpointsBusinessPartnersBusinessPartnersGroup+CzechCreateBusinessPartnerPostEndpoint",
        "requestBody": {
          "x-name": "CreateBusinessPartnerDto",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessPartnerDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityCreatedResponseDtoOfBusinessPartnerDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/400",
                  "title": "Bad Request",
                  "status": 400,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "Items": [
                      "'Items' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new CreateBusinessPartnerDto\r\n{\r\n    Name = \"STORMWARE s.r.o.\",\r\n    City = \"Jihlava\",\r\n    BusinessDetails = new CreateBusinessPartnerBusinessDetailsDto\r\n    {\r\n        DuePeriod = 20\r\n    },\r\n    DeliveryAddresses = new List<CreateBusinessPartnerDeliveryAddressDto>\r\n    {\r\n        new()\r\n        {\r\n            Name = \"Tester\"\r\n        }\r\n    }\r\n};\r\n\r\nvar response = await client.BusinessPartnersClient.Create(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/BusinessPartners/{id}": {
      "get": {
        "tags": [
          "BusinessPartners"
        ],
        "summary": "Gets Business partner by id.",
        "description": "Retrieves <b>Business partner</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsBusinessPartnersBusinessPartnersGroup+CzechBusinessPartnerGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartnerDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.BusinessPartnersClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    // success code\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/CashRegisters": {
      "get": {
        "tags": [
          "CashRegisters"
        ],
        "summary": "Cash registers paginated.",
        "description": "Gets all <b>Cash registers</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsListsCashRegistersCashRegistersGroup+CashRegisterListGetEndpoint",
        "parameters": [
          {
            "name": "After",
            "in": "query",
            "description": "Key set pagination after specified id.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfCashRegisterDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetEntityListQuery<CashRegisterDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.CashRegistersClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/CashRegisters/{id}": {
      "get": {
        "tags": [
          "CashRegisters"
        ],
        "summary": "Gets Cash register by id.",
        "description": "Retrieves <b>Cash register</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsListsCashRegistersCashRegistersGroup+CashRegisterGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashRegisterDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.CashRegistersClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Centres": {
      "get": {
        "tags": [
          "Centres"
        ],
        "summary": "Centres paginated.",
        "description": "Gets all <b>Centres</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsListsCentresCentresGroup+CentreListGetEndpoint",
        "parameters": [
          {
            "name": "After",
            "in": "query",
            "description": "Key set pagination after specified id.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfCentreDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetEntityListQuery<CentreDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.CentresClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Centres/{id}": {
      "get": {
        "tags": [
          "Centres"
        ],
        "summary": "Gets Centre by id.",
        "description": "Retrieves <b>Centre</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsListsCentresCentresGroup+CentreGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CentreDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.CentresClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/CityPostCodes": {
      "get": {
        "tags": [
          "CityPostCodes"
        ],
        "summary": "City post codes paginated.",
        "description": "Gets all <b>City post codes</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsCityPostCodesCityPostCodesGroup+CityPostCodeListGetEndpoint",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfCityPostCodeDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetGeneralListItemListQuery<CityPostCodeDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.CityPostCodesClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/CityPostCodes/{id}": {
      "get": {
        "tags": [
          "CityPostCodes"
        ],
        "summary": "Gets City post code by id.",
        "description": "Retrieves <b>City post code</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsCityPostCodesCityPostCodesGroup+CityPostCodeGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityPostCodeDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.CityPostCodesClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Countries paginated.",
        "description": "Gets all <b>Countries</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsCountriesCountriesGroup+CountryListGetEndpoint",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfCountryDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetGeneralListItemListQuery<CountryDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.CountriesClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Countries/{id}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Gets Country by id.",
        "description": "Retrieves <b>Country</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsCountriesCountriesGroup+CountryGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.CountriesClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Currencies paginated.",
        "description": "Gets all <b>Currencies</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsCurrenciesCurrenciesGroup+CurrencyListGetEndpoint",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfCurrencyDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetGeneralListItemListQuery<CurrencyDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.CurrenciesClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Currencies/{id}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Gets Currency by id.",
        "description": "Retrieves <b>Currency</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsGeneralListsCurrenciesCurrenciesGroup+CurrencyGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new ByIdRequest\r\n{\r\n    Id = Guid.Empty\r\n};\r\n\r\nvar response = await client.CurrenciesClient.Get(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Establishments": {
      "get": {
        "tags": [
          "Establishments"
        ],
        "summary": "Establishments paginated.",
        "description": "Gets all <b>Establishments</b> by specified pagination.",
        "operationId": "MphOpenApiApiEndpointsListsEstablishmentsEstablishmentsGroup+EstablishmentListGetEndpoint",
        "parameters": [
          {
            "name": "After",
            "in": "query",
            "description": "Key set pagination after specified id.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Basic filter for modified since.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListQueryResultDtoOfEstablishmentDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "PageNumber": [
                      "'PageNumber' must be greater than '0'."
                    ],
                    "PageSize": [
                      "'PageSize' must be greater than '0'."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
            "source": "var client = ClientProvider.CreateClient().WithApiKey(\"XYZ\").Build();\r\n\r\nvar request = new GetEntityListQuery<EstablishmentDto>\r\n{\r\n    PageNumber = 1,\r\n    PageSize = 1,\r\n    ModifiedSince = DateTime.Now.AddDays(-1)\r\n};\r\n\r\nvar response = await client.EstablishmentsClient.GetPaginated(request, cancellationToken);\r\n\r\nif (response.IsSuccessStatusCode)\r\n{\r\n    //\r\n}\r\nelse\r\n{\r\n    var error = response.AsProblemDetails();\r\n}"
          }
        ]
      }
    },
    "/v1/Establishments/{id}": {
      "get": {
        "tags": [
          "Establishments"
        ],
        "summary": "Gets Establishment by id.",
        "description": "Retrieves <b>Establishment</b> by passed id, that cannot be empty.",
        "operationId": "MphOpenApiApiEndpointsListsEstablishmentsEstablishmentsGroup+EstablishmentGetEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstablishmentDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/401",
                  "title": "Unauthorized",
                  "status": 401,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/403",
                  "title": "Forbidden",
                  "status": 403,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/429",
                  "title": "Too Many Requests",
                  "status": 429,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://httpstatuses.io/404",
                  "title": "Not Found",
                  "status": 404,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                },
                "example": {
                  "errors": {
                    "propertyName": [
                      "'Id' must not be empty."
                    ]
                  },
                  "type": "https://httpstatuses.io/422",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "traceId": "00-775c67cbb830c73c55490d8b0b397f81-f4e8fd56f1c2f1cb-00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "oauth2": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "CSharp",
[...]
